<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-3.4.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    </head>
    <body>
        <header>
            <div class="bandeau">
                <div class="header-title">
                    <h1>FUJI FLUSH SPACE</h1>
                </div>
                <div class="header-infos">
            #{if controllers.Security.isConnected()}
                <span>User : ${controllers.Security.connectedUser().nickName} </span>
                <a href="@{Secure.logout()}">Logout</a>
            #{/if}
            #{else}
                <a href="@{Application.gameRoom()}"> Login </a>
                <a href="@{Home.register()}"> Register </a>
            #{/else}
                </div>
            </div>
        </header>

        <nav class="navigation">
            <a href="@{Application.ranking()}" class="navigation-item"> Ranking </a>
            <a href="@{Application.gameRoom()}" class="navigation-item"> Game Room </a>
            <a href="/records" class="navigation-item"> Records </a>
            <a href="/ruleOfGame" class="navigation-item"> Game Rules </a>
        </nav>

        <div class="animate">
            <img src="/public/images/xwings.png">
        </div>

        <div class="animate2">
            <img src="/public/images/tie.png">
        </div>
        
        <div>
            #{doLayout /}
        </div>       
        <script src="@{'/public/javascripts/refresh.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </body>
</html>
