#{extends 'main.html' /}
#{set title:'Game Room' /}

<nav class="navigation">
    <a href="@{Application.ranking()}" class="navigation-item"> Ranking </a>
    <a href="@{Application.gameRoom()}" class="navigation-item"> Game Room </a>
    <a href="/records" class="navigation-item"> Records </a>
</nav>

<div class="gameRoom">
    <div class="newGame">
        <form action="@{Application.addGame()}" method="post">

            <label class="nbPlayer" for="nbPlayer"><b> How many players ? </b></label>
            <input list="nbPlayer" name="nbPlayer">
            <datalist id="nbPlayer">
                <option value="3">
                <option value="4">
                <option value="5">
                <option value="6">
                <option value="7">
                <option value="8">
            </datalist>
            <input type="submit" class="registerbtn" value="New Game">
        </form>
    </div>

    <div class="games">
        <div class="availablegames">
            <p>Available games :</p>
        #{if games}
            #{list items:games, as:'aGame'}
                        #{set join:true/}
                        #{list items:aGame.hands, as:'aHand'}
                            #{if aHand.player.equals(player)}
                               #{set join:false/}
                            #{/if}
                        #{/list}

                    #{if join}
                        #{if aGame.nbPlayerMissing == 0}
                            <li>${aGame.hands.size()}/${aGame.hands.size()+aGame.nbPlayerMissing} players<a class="registerbtn" href="#">Full</a></li>
                        #{/if}
                        #{else}
                            <li>${aGame.hands.size()}/${aGame.hands.size()+aGame.nbPlayerMissing} players<a class="registerbtn" href="@{Application.joinGame(aGame.id)}">Join</a></li>
                        #{/else}
                    #{/if}
            #{/list}
        #{/if}
        </div>

            <div class="mygames">
                <p>My games :</p>
                #{if games}
                #{list items:games, as:'aGame'}
                #{list items:aGame.hands, as:'aHand'}
                #{if aHand.player.equals(player)}
                    #{if aGame.nbPlayerMissing == 0}
                    <li >${aGame.hands.size()}/${aGame.hands.size()+aGame.nbPlayerMissing} players<a class="registerbtn" href="@{Application.play(aGame.id)}"> play </a></li>
                    #{/if}
                    #{else}
                    <li> ${aGame.hands.size()}/${aGame.hands.size()+aGame.nbPlayerMissing} players<a class="registerbtn" href="#"> Waiting </a></li>
                    #{/else}
                #{/if}
                #{/list}
            #{/list}
        #{/if}
    </div>
</div>
</div>