#{extends 'main.html' /}
#{set title:'History' /}

<h1 class="titre">Game History</h1>

    <div class="panel-rank">
    <table class="list-rank">
        <thead class="header-table">
        <td> GAME History </td>
        </thead>

        <tbody class="body-table">
        #{list items:gameEvents, as:'aGameEvent' }
        <tr>
        <td class="ranka"> ${aGameEvent.date} </td>
        <td class="pseudo"> ${aGameEvent.message} </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>