#{extends 'main.html' /}
#{set title:'Records' /}
<div class="container-records">
    <div class="panel-records">
        <h3 class="titre">Records</h3>
        <table class="list-records">
            <thead class="header-table">
            <td> GAME ID </td>
            <td> NUMBER OF PLAYERS </td>
            <td> AUTHOR </td>
            <td> WINNERS </td>
            <td> CONCLUSION </td>
            <td> SCORE </td>
            <td> LOGS </td>
            </thead>

            <tbody class="body-table-records">
            #{list items:games, as:'aGame' }
                #{if game && game.uuid.equals(aGame.uuid)}
                    <tr class="connected">
                #{/if}
                #{elseif gameResults.get(aGame)==true}
                    <tr class="winner">
                #{/elseif}
                #{elseif gameLeavers.get(aGame)==true}
                    <tr class="leaver">
                #{/elseif}
                #{elseif gameLeaveWinners.get(aGame)==true}
                    <tr class="leavewinner">
                #{/elseif}
                #{else}
                    <tr class="looser">
                #{/else}

                <td> ${aGame.id} </td>
                <td> ${aGame.hands.size()} </td>
                <td> ${aGame.author.nickName} </td>
                <td> ${aGame.winners.player.nickName} </td>

            #{if gameResults.get(aGame)==true}
            <td> YOU WON </td>
            #{/if}
            #{else}
            #{if gameLeavers.get(aGame)==true}
            <td> YOU LEFT </td>
            #{/if}
            #{else}
            #{if gameLeaveWinners.get(aGame)==true}
            <td> YOU WON BY LEAVE </td>
            #{/if}
            #{else}
            <td> YOU LOST </td>
            #{/else}
            #{/else}
            #{/else}

                #{if gameResults.get(aGame)==true}
                <td> + 3 </td>
                #{/if}
                #{else}
                #{if gameLeavers.get(aGame)==true}
                <td> - 3 </td>
                #{/if}
                #{else}
                #{if gameLeaveWinners.get(aGame)==true}
                <td> + 1 </td>
                #{/if}
                #{else}
                <td> 0 </td>
                #{/else}
                #{/else}
                #{/else}

            <td><a href="@{Application.records(aGame.uuid)}"><img src="/public/images/eye.png" class="imgrecords"/></a></td>

            </tr>
            #{/list}

            </tbody>
        </table>
    </div>

    #{if game}
    <div class="panel-history">
        <h3 class="titre"> History</h3>
        <table class="list-records">
            <thead class="header-table">
            <td> DATE </td>
            <td> MESSAGE </td>
            </thead>
            <tbody class="body-table-history">
    #{if gameEvents.size() > 0}
                #{list items:gameEvents, as:'aGameEvent' }
                <tr class="player">
                    <td> ${aGameEvent.date.format()} </td>
                    <td> ${aGameEvent.message} </td>
                </tr>
                #{/list}
    #{/if}
    #{else}
            <tr class="player">
                <td>  </td>
                <td> No Game Events </td>
            </tr>
    #{/else}
            </tbody>
        </table>
    </div>
    #{/if}
</div>