<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
#{extends 'main.html' /}
#{set title:'Rule of the game ' /}

<nav class="navigation">
    <a href="@{Application.gameRoom()}" class="navigation-item"> Back to Game Room </a>
</nav>

<FONT color="red"><h1 class="titre">Rule Of Game</h1></FONT>

<body>



    <article>
        <iframe  width="800" height="344" src=" https://www.youtube.com/embed/TXQXm1yqNho" frameborder="0" allowfullscreen></iframe>
        <h4><FONT color="red">But du jeu</FONT></h4>


        <FONT color="white">

          <p><h5>  Etre le premier joueur à se débarasser de toutes ses cartes. Unissez vos forces à celles de vos compagnons de jeu pour surpasser les cartes jouées par
              les autres joueurs…ou jouez individuellement la plus haute carte pour nettoyer la table de toutes les cartes de vos adversaires ! Matériel:

            90 cartes (16x “2”, 12x “3”, 9x “4”, 8x “5”, 6x “6”y “7”, 5x ”8", 4x ”9"a “11”, 3x “12”a”14", 2x “15”, 1x “16”a”20")</h5></p>


        <h4><FONT color="red">Déroulement de la partie</FONT></h4>

             <p><h5>Vous jouez à tour de rôle dans le sens horaire, jusqu’à ce que la partie se termine.
   A votre tour, jouez une carte de votre main en la posant devant vous. Vous pouvez jouer une carte de n’importe quelle valeur.
            Puis le joueur suivant (situé à gauche) joue une carte de sa main, et ainsi de suite.</h5></p>
              <p><h5>Si vous jouez une carte dont la valeur est supérieure à une ou plusieurs cartes
            jouées par les autres joueurs, vous battez ces cartes. Tous les joueurs ayant joué une carte avec une valeur inférieure doivent “nettoyer” devant eux en mettant cette
                carte dans la Défausse, puis piocher une carte de remplacement et l’ajouter à leur main.</h5></p>
                <p><h5>Toutes les cartes dont la valeur est égale ou supérieure à la vôtre ne sont pas affectées et restent devant les joueurs.
                    Si c’est de nouveau à vous de jouer et que votre carte est toujours devant vous, car aucune carte avec une valeur supérieure n’a
                    été jouée, vous avez su “imposer votre carte”. Vous la mettez dans la défausse SANS piocher de carte de remplacement.</h5> </p>
                <p><h5>Vous avez donc une carte de moins dans votre main et
            êtes un peu plus proche de la victoire ! Ensuite, jouez une des cartes encore dans votre main.



             Si vous jouez une carte de la même valeur qu’une carte déjà présente devant un ou plusieurs de vos compagnons de jeu additionnez toutes ces valeurs pour leur donnez une
        valeur combinée supérieure. Si cette valeur combinée est supérieure à la valeur des cartes d’un ou plusieurs autres joueurs, vous les battez. Ils doivent alors “nettoyer”
    devant eux et piocher une carte de remplacement. </h5></p>
             <p><h5>Si la valeur combinée est battue par les cartes des autres joueurs, vous devez “nettoyer” devant vous. Vous ne devez jamais
        communiquer d’informations sur les cartes de votre main aux autres joueurs. Si un autre joueur joue une carte de valeur égale à la valeur combinée de vos cartes, la valeur de
        sa carte ne s’additionne pas !
             </h5></p>





</FONT>

    </article>


</body>
</html>