header
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 10%;
    width: 100%;
    margin-bottom: 20px;

    background-color: rgba(0,0,0, .2);
    font-family: 'Orbitron', sans-serif;
}
.bandeau
{
    margin-left: 42%;
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
}

.radio
{
display: inline-block;
margin-bottom: 50px;
}

.submitbtn
{
    width: 200px;
    height: 50px;
    margin-left: 20px;;

    background-color: rgba(0, 0, 0, 0.50);
    border: ridge 2px rgba(0, 255, 0, 0.9);
    border-radius: 10px;
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
    color: #00FF00;
}
.submitbtn:hover
{
    background-color: rgba(0, 0, 0, 1);

        text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
        font-weight: bold;
}


.submitbtn:visited
{
    color: #00FF00;
}

.totalPlayers
{
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
}

li
{
text-decoration: none;
list-style-type: none;
}

.logout
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 200px;
}

.logout li
{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1em;
    color: black;
    font-weight: bold;
    list-style-type: none;
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
}

.logout li a, a:visited
{
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-shadow: none;
}
.logout li a:hover
{
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
}

.gameRoom
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.games
{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.games p
{
    margin-top: 0;
font-size: 1.5em;
font-weight: bold;
text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
}

.mygames, .availablegames
{
    margin-top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,.5) 0%, rgba(0,255,0,.4) 40%, rgba(255,255,255,.35) 50%, rgba(0,255,0,.4) 60%, rgba(0,0,0,.5) 100%);
    border: ridge 2px rgba(0, 255, 0, 0.7);
    width: 800px;
    height: 500px;
    text-align: center;
    overflow: auto;
}

.mygames li, .availablegames li
{
   margin: 10px;
}

.mygames a, .availablegames a
{
   margin-left: 30px;
   text-decoration: none;
   padding: 3px;
}

.currentGame
{
    text-align: center;
    background-color: #333333;
    color: white;
}

.otherPlayerCards
{
display: inline-block;
align-items: center;
margin-left: 30px;
}

.cards
{
display: inline-block;
}

.cards a:hover
{
border: ridge 2px rgba(0, 255, 0, 0.7);
}

body
{
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height:100%;
    width: 100%;
}

.formulaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
}

.form-saisie
{
    width: 400px;
    margin: auto;

    text-align: center;
}

.registerbtn
{
    width: 420px;
    height: 50px;

    margin: auto;
    margin-bottom: 20px;

    background-color: rgba(0, 25, 0, 0.9);
    border: ridge 2px rgba(0, 255, 0, 0.9);
    color: #00FF00;
}

.registerbtn:visited
{
    color: #00FF00;
}


/* NAVIGATION **********************************************************************************************************/
.navigation {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90%;
    margin: auto;

    padding: 0;
}


.navigation-item
{
    width: 300px;
    height: 50px;

    color: black;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
    font-family: 'Orbitron', sans-serif;
    font-size: 27px;

    background: rgb(0,255,0);
    background: linear-gradient(0deg, rgba(0,255,0,0.1) 0%, rgba(0,255,31,0.4) 16%, rgba(0,255,150,1) 61%, rgba(0,0,0,0.4) 100%);

    border-radius: 10%;
}


.navigation-item:hover
{
    background: linear-gradient(0deg, rgba(0,255,0,0.4) 0%, rgba(0,255,31,0.7) 16%, rgba(0,255,150,1) 61%, rgba(0,0,0,0.7) 100%);
}



/* RANKING PAGE ********************************************************************************************************/
.titre
{
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
    font-size: 40px;
}

.panel-rank, .register
{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,.5) 0%, rgba(0,255,0,.4) 40%, rgba(255,255,255,.35) 50%, rgba(0,255,0,.4) 60%, rgba(0,0,0,.5) 100%);

    border: ridge 2px rgba(0, 255, 0, 0.7);
}

.list-rank
{
    width: 100%;
    color: white;
}

.header-table
{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
}

.body-table
{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
}

.pseudo, .score, .rank
{
    width: 50%;
}


.connected
{
    background-color: #00FF00;
    color: black;
}

.player
{
    background-color: rgba(0, 75, 0, .7);
}

.total-joueur
{
    text-align: center;
    color: white;
}
