html
{
    width: 100%;
    height: 100%;
}

body
{
    background-image: url("../images/wallpaper2.png");
    background-repeat: no-repeat;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height:100%;
    width: 100%;
}

header
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 10%;
    width: 100%;
    margin-bottom: 20px;

    background-color: rgba(0,0,0, .2);
    font-family: 'Orbitron', sans-serif;
}

.animate
{
    position: absolute;
    z-index: 2;
    top: 50%;

    animation-duration: 10s;
    animation-name: xwings-move;
    animation-iteration-count: infinite;
}


.bandeau
{
    margin-left: 42%;
    text-shadow: 1px 1px 2px black, 0 0 1em #00AAFF, 0 0 0.2em cyan;
}

h3
{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #00AAFF, 0 0 0.2em cyan;
    font-size: 25px;
}

.totalPlayers
{
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 2px black, 0 0 1em #00AAFF, 0 0 0.2em cyan;
}

li
{
    text-decoration: none;
    list-style-type: none;
}

.logout
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 200px;
}

.logout li
{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1em;
    color: white;
    font-weight: bold;
    list-style-type: none;
    text-shadow: 1px 1px 2px black, 0 0 1em midnightblue, 0 0 0.2em cyan;
}

.logout li a, a:visited
{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: none;
}

.logout li a:hover
{
    text-shadow: 1px 1px 2px black, 0 0 1em midnightblue, 0 0 0.2em cyan;
}

.gameRoom
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.radio
{
    display: inline-block;
    margin-bottom: 50px;
    color: white;
}

.submitbtn
{
    width: 200px;
    height: 50px;
    margin-left: 20px;;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.50);
    border: ridge 2px rgba(0, 200, 255, 0.9);
    border-radius: 10px;
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
    color: cyan;
}

.submitbtn:hover
{
    background-color: rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px black, 0 0 1em #00FF00, 0 0 0.2em cyan;
    font-weight: bold;
}

.submitbtn:visited
{
    color: #00FF00;
}


.games
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.games p
{
    font-weight: bold;
}

.mygames, .availablegames
{
    background: rgba(0,0,15,.7);
    border: ridge 2px rgba(0, 200, 255, 0.7);
    padding: 50px;
    width: 800px;
    height: 500px;
    text-align: center;
    overflow: auto;
}

.mygames li, .availablegames li
{
    margin: 10px;
}

.mygames a, .availablegames a
{
    margin-left: 30px;
    text-decoration: none;
    padding: 3px;
}


/* PLAY ****************************************************************************************************************/
/* CONTAINER **************************************************/
#currentGame
{
    text-align: center;
    background-color: rgba(0, 0, 50, 0.3);
    color: white;

    width: 99%;
    height: 100%;
    margin-top: 10px;
}

/* TABLEAU ****************************************************/
.table-game
{
    width: 100%;
    height: 85%;
}
.column-nickname
{
    table-layout: auto;
    width: 20%;
}
.column-cards
{
    table-layout: auto;
    width: 70%;
}
.column-board
{
    table-layout: auto;
    width: 10%;
}

/* LIGNE JOUEUR COURANT ***************************************/
.currentPlayer
{
    background-color: rgba(0, 200, 255, 0.7);
    height: 100px;
}

/* LIGNE JOUEUR ATTENTE ***************************************/
.otherPlayer
{
    height: 100px;
}


.playerCards
{
    display: inline-block;
    align-items: center;
    height: 100px;
}

/* BOUTON POUR QUITTER LA PARTIE ***************************************/

.leavebtn
{
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-left: 70%;
    background-color: rgba(0, 0, 0, 0.50);
    border: ridge 2px red;
    border-radius: 10px;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em cyan;
    color: red;
}
.leavebtn a {
    text-decoration: none;
    color: red;
}

.leavebtn:hover
{
    background-color: rgba(0, 0, 0, 1);
    font-weight: bold;
}



.cards img
{
    border: ridge 2px rgba(0, 255, 0, 0);
}
.cards img:hover
{
    border: ridge 2px rgba(0, 255, 255, 1);
}



.formulaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
}

.form-saisie
{
    width: 400px;
    margin: auto;

    text-align: center;
}




/* NAVIGATION **********************************************************************************************************/
.navigation {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90%;
    margin: auto;

    padding: 0;
}


.navigation-item
{
    width: 300px;
    height: 50px;

    color: black;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em #00DDFF, 0 0 0.2em cyan;
    font-family: 'Orbitron', sans-serif;
    font-size: 27px;

    background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,200,255,1) 61%, rgba(0,0,0,0.4) 100%);

    border-radius: 10%;
}


.navigation-item:hover
{
    background: linear-gradient(0deg, rgba(0,200,255,0.3) 0%, rgba(0,200,255,1) 61%, rgba(0,200,255,0.7) 100%);
}



/* RANKING PAGE ********************************************************************************************************/
.titre
{
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em #00AAFF, 0 0 0.2em cyan;
    font-size: 40px;
}

.panel-rank, .register
{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,.5) 0%, rgba(0,200, 255, .4) 40%, rgba(255,255,255,.35) 50%, rgba(0,200, 255,.4) 60%, rgba(0,0,0,.5) 100%);

    border: ridge 2px rgba(0, 200, 255, 0.7);
}




/* TABLEAU *************************************************************************************************************/
.tableau
{
    width: 100%;
    color: white;
}

.ligne-tableau
{
    height: 30px;
    font-size: 25px;
}

.ligne-tableau:hover
{
    background-color: rgba(0, 230, 255, 0.3);
}

.header-table
{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #00AAFF, 0 0 0.2em cyan;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;

    height: 20px;
}

.body-table
{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #00AAFF, 0 0 0.2em cyan;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
}


/* GAME ROOM PAGE */
.table-id, .table-numberOfPlayers, .table-join
{
    width: 33%;
    font-size: 15px;
}

/* RANKING PAGE */
.pseudo, .score, .rank
{
    width: 50%;
}

.connected
{
    height: 35px;
    background-color: #00CCFF;
    color: black;
}

.player
{
    height: 30px;
    background-color: rgba(0, 0, 75, .7);
}

.total-joueur
{
    text-align: center;
    color: white;
}

/* RECORDS PAGE */

.panel-records
{
    width: 95%;
    margin: auto;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,.5) 0%, rgba(0,200, 255, .4) 40%, rgba(255,255,255,.35) 50%, rgba(0,200, 255,.4) 60%, rgba(0,0,0,.5) 100%);
    border: ridge 2px rgba(0, 200, 255, 0.7);
}

.list-records
{
    width: 100%;
    color: white;
}

.gameid
{
    width: 10%;
}

.nbPlayers
{
    width: 20%;
}

.author
{
    width: 30%;
}

.winners
{
    width: 60%;
}

.gainedscore
{
    width: 20%;
}


.winner
{
    height: 30px;
    background-color: rgba(0,153,51,0.2);
}

.looser
{
    height: 30px;
    background-color: rgba(255,0,0,0.2);
}




/* BOUTON **************************************************************************************************************/
.registerbtn
{
    width: 420px;
    height: 50px;

    margin: auto;
    margin-bottom: 20px;

    cursor: pointer;

    background-color: rgba(0, 0, 25, 0.9);
    border: ridge 2px rgba(0, 230, 255, 0.9);
    color: #00CCFF;
}

.registerbtn:visited
{
    color: #00CCFF;
}

/* ANIMATIONS **************************************************************************************************************/

@keyframes xwings-move {
    from
    {
        left: 100%;
    }
    to
    {
        left: -50%;
    }
}