<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<CustomLevels>
    	<CustomLevel name="GAME" intLevel="550" />
	</CustomLevels>
   <Properties>
        <Property name="filename">${date:yyyy-MM-dd HH:mm:ss}</Property>
    </Properties>	
    <Appenders>
		<File 
		name="gameLogger" 
		fileName="logs/game.log"
        createOnDemand="true">

			<LevelRangeFilter minLevel="GAME" maxLevel="GAME" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
			</PatternLayout>	
		</File>

        <Console name="console" target="SYSTEM_OUT">
        	<LevelRangeFilter minLevel="GAME" maxLevel="GAME" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
		<Logger name="controllers" level="GAME" additivity="true">
            <appender-ref ref="gameLogger" level="GAME" />
        </Logger>
        <Root level="GAME">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>