#{extends 'main.html' /}
#{set title:'register' /}

<div class="register">

    <form class="formulaire" action="@{Home.createAccount()}" method="post">
        <h1 class="titre">Register</h1>
        <p>Please fill in this form to create an account.</p>

        <hr>
        <label for="nickname"><b>Nickname</b></label>
        <input type="text" placeholder="Enter nick" name="nickname" required value="${flash.get('nickname')}">
        <span> #{error 'nickname' /} </span>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required  value="${flash.get('email')}">
        <span> #{error 'email' /} </span>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <span> #{error 'password' /} </span>

        <label for="passwordRepeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="passwordRepeat" required>
        <hr>

        <button type="submit" class="registerbtn">Register</button>
    </form>
</div>

